@{
    Layout = "~/Views/Message/_MessageLayout.cshtml";
}
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    @*<div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-inline" role="form" onsubmit="return false"></form>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="row">
        <div class="col-md-12">
            <!-- table content -->
            <div id="question-list" class="table-responsive">
                <table class="table datatable_question table-bordered table-actions table-hover">
                    <thead>
                        <tr>
                            <th width="200">发件人</th>
                            <th width="">标题</th>
                            <th width="100">时间</th>
                        </tr>
                    </thead>
                    <tbody id="QA_SelectList">
                        <tr>
                            <td valign="top" colspan="3" class="dataTables_empty">无数据</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END table content -->
        </div>
    </div>
    <div class="row block">
        <div class="col-md-12">
        </div>
    </div>
</div>
<!-- END PAGE CONTENT WRAPPER -->
<!-- Modal AJAX -->
<div id="pop_modaldialog">
</div>
<div id="pop_MessageReportmodaldialog">
</div>
<!-- END Modal AJAX -->
<!-- START PRELOADS -->
<audio id="audio-alert" src="@Url.Content("~/Content/audio/alert.mp3")" preload="auto"></audio>
<audio id="audio-fail" src="@Url.Content("~/Content/audio/fail.mp3")" preload="auto"></audio>
<!-- END PRELOADS -->
<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/bootstrap/bootstrap.min.js")"></script>
<!-- END PLUGINS -->
<!-- THIS PAGE PLUGINS -->
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>
<!-- END PAGE PLUGINS -->
<script type='text/javascript' src="@Url.Content("~/content/js/plugins/noty/jquery.noty.js")"></script>
<script type='text/javascript' src="@Url.Content("~/content/js/plugins/noty/layouts/topRight.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/noty/themes/default.js")"></script>
<!-- START TEMPLATE -->
<script type="text/javascript" src="@Url.Content("~/content/js/plugins.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/actions.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/Message/GetMessageIndex.js")"></script>
<!-- END TEMPLATE -->
<!-- END SCRIPTS -->
