@model HPStudent.Entity.Messages
<div class="modal" id="previewMessagesPanel" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="ClosepreviewMessagesPanel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead"><span class="fa fa-pencil"></span>@Model.Title</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="contact-info">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <small>发件人:</small>@Model.Sender
                                    </div>
                                    <div class="col-md-4">
                                        <small>时  间:</small>@Model.DateCreated
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#" onclick="OpenMessageReport(@Model.MID)" style="color:gray">举报</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="contact-info scroll" style="height: 100px;">
                                @Model.Body
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END table content -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>