@model HPStudent.Entity.StudentScore
<div class="modal" id="edit-student-mark" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead"><span class="fa fa-pencil"></span> 编辑考试成绩</h4>
            </div>
            <div class="modal-body block">
                <form id="user-points-form" class="form-horizontal">
                    <!-- start -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">修改成绩</label>
                        <div class="col-md-3">                            
                            @{
                                switch (Model.Term)
                                {
                                    case 1:
                                        <input type="text" id="txtTerm" class="form-control" value="第一学年" readonly="readonly"/>
                                        break;
                                    case 2:
                                    <input type="text" id="txtTerm" class="form-control" value="第二学年" readonly="readonly" />
                                        break;
                                    case 3:
                                    <input type="text" id="txtTerm" class="form-control" value="第三学年" readonly="readonly" />
                                        break;
                                }

}

                            @*<select id="selTerm" class="form-control select" readonly="readonly" >
                                                                @{
                                                                    if (Model.Term == 1)
                                                                    {
                                                                        <option value="1" selected>第一学年</option>
                                                                        <option value="2">第二学年</option>
                                                                        <option value="3">第三学年</option>
                                                                    }
                                                                    else if (Model.Term == 2)
                                                                    {
                                                                        <option value="1">第一学年</option>
                                                                        <option value="2" selected>第二学年</option>
                                                                        <option value="3">第三学年</option>
                                                                    }
                                                                    else if (Model.Term == 3)
                                                                    {
                                                                        <option value="1">第一学年</option>
                                                                        <option value="2">第二学年</option>
                                                                        <option value="3" selected>第三学年</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="1" selected>第一学年</option>
                                                                        <option value="2">第二学年</option>
                                                                        <option value="3">第三学年</option>
                                                                    }
                                }

                                                            </select>*@
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>

                                <input type="text" id="txtExamination1" class="form-control" value="@Model.Examination1" placeholder="笔试成绩" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-desktop"></span></span>
                                <input type="text" id="txtExamination2" class="form-control" value="@Model.Examination2" placeholder="机试成绩" />
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label">老师评价</label>

                        <div class="col-md-9 col-xs-12">
                            <textarea class="form-control" id="txtEvaluate" rows="5">@Model.Evaluate</textarea>
                        </div>

                    </div>


                    <!-- end -->
                </form>

            </div>
            <div class="modal-footer">
                @Html.Hidden("StudentID", @Model.SID + "," + @Model.Term, "hdnStudentIDTerm")
                <button type="button" class="btn btn-primary" onclick="EditMark()">修 改</button>
            </div>

        </div>
    </div>
</div>