<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>支付宝付款</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="/content/css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>



    <div class="row">
        <div class="col-md-12">
            <!-- START VERTICAL TABS WITH HEADING -->
            <div class="panel panel-default nav-tabs-vertical">
                <div class="panel-heading">
                    <h3 class="panel-title">支付宝缴费流程</h3>
                </div>
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab19" data-toggle="tab" class="text-center">第一步</a></li>
                        <li><a href="#tab20" data-toggle="tab" class="text-center">第二步</a></li>
                        <li><a href="#tab21" data-toggle="tab" class="text-center">第三步</a></li>
                        <li><a href="#tab22" data-toggle="tab" class="text-center">第四步</a></li>
                        <li><a href="#tab23" data-toggle="tab" class="text-center">第五步</a></li>
                    </ul>
                    <div class="panel-body tab-content">
                        <div class="tab-pane active" id="tab19">
                            <h1>第一步：打开手机上的支付宝软件</h1>
                            <p class ="text-center"><img src="~/Content/img/Webpage/fklc01.jpg" /></p>
                        </div>
                        <div class="tab-pane" id="tab20">

                            <h1>第二步：进入转账页面</h1>
                            <p class="text-center"><img src="~/Content/img/Webpage/fklc02.jpg" /></p>
                        </div>
                        <div class="tab-pane" id="tab21">

                            <h1>第三步：输入支付账号</h1>
                            <p class="text-center"><img src="~/Content/img/Webpage/fklc03.jpg" /></p>
                        </div>
                        <div class="tab-pane" id="tab22">

                            <h1>第四步：输入金额和备注</h1>
                            <p class="text-center"><img src="~/Content/img/Webpage/fklc04.jpg" /></p>
                        </div>
                        <div class="tab-pane" id="tab23">

                            <h1>第五步：完成支付</h1>
                            <p class="text-center"><img src="~/Content/img/Webpage/fklc05.jpg" /></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END VERTICAL TABS WITH HEADING -->
        </div>
     </div>
    <!-- START PLUGINS -->
    <script type="text/javascript" src="@Url.Content("~/content/js/plugins/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/plugins/jquery/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/plugins/bootstrap/bootstrap.min.js")"></script>
    <!-- THIS PAGE PLUGINS -->
    <script type="text/javascript" src="@Url.Content("~/content/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>
    <!-- END PAGE PLUGINS -->
    <!-- START TEMPLATE -->
    <script type="text/javascript" src="@Url.Content("~/content/js/plugins.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/actions.js")"></script>
</body>
</html>