@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "帖子内容";
    var ParentActionName = ViewContext.RouteData.Values["Action"].ToString().ToLower();
    var ParentControllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
}
@model HPStudent.Student.ViewModel.PostTheme.PostBarInfoTable
<!-- START PAGE CONTAINER -->
<div class="page-container">

    @Html.Action("SideBar", "Common", new { ParentAction = ParentActionName, ParentController = ParentControllerName })

    <!-- PAGE CONTENT -->
    <div class="page-content">

        @Html.Action("BodyHeader", "Common", new { ParentAction = ParentActionName, ParentController = ParentControllerName })
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">我的贴吧</a></li>
            <li class="active">@ViewBag.Title</li>
        </ul>
        <!-- END BREADCRUMB -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">


                        <div class="panel-body">
                            <a name="top" id="top"></a>
                            <div class="list-group list-group-contacts border-bottom push-down-10 col-md-3">
                                <a class="list-group-item">
                                    
                                    <img src="assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk">
                                    <span class="contacts-title" id="PostBarName">@Model.PBName</span>
                                    <p>@Model.PBSignature</p>
                                </a>
                            </div>
                            <div class="list-group list-group-contacts border-bottom push-down-10 col-md-7">

                                <p>关注人数：<span class="text-danger">@Model.Attention</span></p>
                                <p>发帖数量：<span class="text-danger">@Model.PostNumber</span></p>
                            </div>
                            @*<div class="list-group list-group-contacts border-bottom push-down-10 col-md-2" id="IsAttention">
                                @if (@Model.AttentionStatus == 1)
                                {
                                    <button class="btn btn-primary btn-sm" onclick="IsAttention('No')"><span class="fa fa-check-square"></span>取消关注</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn-sm" onclick="IsAttention('Yes')"><span class="fa fa-check-square-o"></span>关注</button>
                                }

                            </div>*@



                        </div>
                    </div>
                </div>

                <!-- START PANELS WITH CONTROLS -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- START PANEL WITH STATIC CONTROLS -->
                        <div class="gallery" id="datatable_postReply">
                            <div class="panel panel-default">


                                <div class="panel-body">
                                    <div class="gridview_empty text-center"><a href="">这个贴吧还没人发帖子哦，点击成为第一个。</a></div>
                                </div>

                            </div>

                        </div>
                        <!--sadfasdf-->


                        <div class="panel panel-default">

                            <input type="hidden" id="txt_PageCount" />
                            <div class="panel-body">
                                <ul class="pagination pagination-sm pull-right" id="pager">
                                    <li><a href="#">&laquo;</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li class="disabled"><a href="#">&raquo;</a></li>
                                </ul>
                            </div>

                        </div> 
                        <a id="summer_note_top" ></a>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                
                                <div class="summernote" id="summernote"></div>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-primary pull-right" id="btn_Submit">提交</button>
                            </div>
                        </div>




                        <!--sdfdsfsdf -->

                    </div>
                </div>





            </div>

        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
    </div>
<!-- END PAGE CONTAINER -->
<!-- Modal AJAX -->
<div id="pop_modaldialog">
</div>
<!-- END Modal AJAX -->
<!-- START PRELOADS -->
<audio id="audio-alert" src="@Url.Content("~/Content/audio/alert.mp3")" preload="auto"></audio>
<audio id="audio-fail" src="@Url.Content("~/Content/audio/fail.mp3")" preload="auto"></audio>
<!-- END PRELOADS -->
<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/bootstrap/bootstrap.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
<!-- END PLUGINS -->
<!-- THIS PAGE PLUGINS -->
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/summernote/summernote.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/icheck/icheck.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/bootstrap/bootstrap-select.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/tocify/jquery.tocify.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/noty/jquery.noty.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/noty/layouts/topRight.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/noty/themes/default.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/gridview/jquery.gridView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/morris/raphael-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/morris/morris.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/summernote/lang/summernote-zh-CN.js")"></script>
<!-- END PAGE PLUGINS -->
<!-- START TEMPLATE -->
<script type="text/javascript" src="@Url.Content("~/content/js/plugins.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/actions.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/PostReply/PostReply_Index.js")"></script>


<!-- END TEMPLATE -->
<!-- END SCRIPTS -->
