@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "资源宝典";
    var ParentActionName = ViewContext.RouteData.Values["Action"].ToString().ToLower();
    var ParentControllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
}

<!-- START PAGE CONTAINER -->
<div class="page-container">

    @Html.Action("SideBar", "Common", new { ParentAction = ParentActionName, ParentController = ParentControllerName })

    <!-- PAGE CONTENT -->
    <div class="page-content">

        @Html.Action("BodyHeader", "Common")
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">云课堂</a></li>
            <li class="active">@ViewBag.Title</li>
        </ul>
        <!-- END BREADCRUMB -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <form class="form-inline" role="form">

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">

                                    <label>选择专业：</label>
                                    <select id="selMajor" name="selMajor" class="form-control">
                                        <option>== 选择专业 ==</option>
                                    </select>

                                </div>
                                <button type="button" id="btnSelectMajor" class="btn btn-primary">选择</button>

                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading ui-draggable-handle">
                            <div class="btn-group ">
                                <button id="btnAddResource" class="btn btn-primary btn-sm" type="button">
                                    <span class="fa fa-plus-square"></span> 添加资源
                                </button>
                            </div>

                        </div>

                        <div class="panel-body">

                            <!-- table content -->
                            <div id="Resource-list" class="table-responsive">
                                <table class="table datatable_question table-bordered table-actions table-hover">
                                    <thead>
                                        <tr>
                                            <th>资源名称</th>
                                            <th width="100">老师</th>
                                            <th width="200" class="text-center">来源</th>
                                            <th width="120" class="text-center">课时</th>
                                            <th width="200" class="text-center">创建时间</th>
                                            <th width="200">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Data_SelectList">
                                        <tr>
                                            <td valign="top" colspan="5" class="dataTables_empty">无数据</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- END table content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->

</div>
<!-- END PAGE CONTAINER -->
<!-- Modal AJAX -->
<div id="pop_modaldialog">
</div>
<!-- END Modal AJAX -->
<!-- START PRELOADS -->
<audio id="audio-alert" src="@Url.Content("~/Content/audio/alert.mp3")" preload="auto"></audio>
<audio id="audio-fail" src="@Url.Content("~/Content/audio/fail.mp3")" preload="auto"></audio>
<!-- END PRELOADS -->
<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/bootstrap/bootstrap.min.js")"></script>
<!-- END PLUGINS -->
<!-- THIS PAGE PLUGINS -->
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/bootstrap/bootstrap-select.js")"></script>
<script type='text/javascript' src="@Url.Content("~/content/js/plugins/icheck/icheck.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/content/js/plugins/noty/jquery.noty.js")"></script>
<script type='text/javascript' src="@Url.Content("~/content/js/plugins/noty/layouts/topRight.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/noty/themes/default.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/plugins/ajaxfileupload/ajaxfileupload.js")"></script>
<!-- END PAGE PLUGINS -->
<!-- START TEMPLATE -->
<script type="text/javascript" src="@Url.Content("~/content/js/plugins.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/actions.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/js/Resource/page_resource_library.js")"></script>


<!-- END TEMPLATE -->
<!-- END SCRIPTS -->

